*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: sans-serif;
    outline: none;
    text-decoration: none;
}

.app{
    background-color: skyblue;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    background-color: slateblue;
}

.auth-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.auth-container > h1{
    font-size: 2em;
    margin: 24px;
}

.auth-container > form {
    border: 1px solid purple;
    padding: 20px;
    border-radius: 5px;
    background-color: lightcoral;

    display: flex;
    flex-direction: column;
}

.auth-container > form > input {
    margin: 16px 8px;
    padding: 8px;
    border-radius: 4px;
}

.auth-container > form > button {
    margin: 16px 8px;
    padding: 8px;
    border-radius: 4px;
}


.propForm{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.propForm > h1{
    font-size: 2em;
    margin: 24px;
}

.propForm > form {
    border: 1px solid purple;
    padding: 20px;
    border-radius: 5px;
    background-color: lightcoral;

    display: flex;
    flex-direction: column;
}

.propForm > form > input {
    margin: 16px 8px;
    padding: 8px;
    border-radius: 4px;
}

.propForm > form > button {
    margin: 16px 8px;
    padding: 8px;
    border-radius: 4px;
}

.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}