*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: sans-serif;
    outline: none;
    text-decoration: none;
    background-color: skyblue;
}

.app{
    background-color: skyblue;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    background-color: slateblue;
}

.auth-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.auth-container > h1{
    text-align: center;
    font-size: 2em;
    margin: 24px;
}

.auth-container > form {
    border: 1px solid purple;
    padding: 20px;
    border-radius: 5px;
    background-color: lightcoral;
    
    display: flex;
    flex-direction: column;
}

.auth-container > form > input {
    margin: 16px 8px;
    padding: 8px;
    border-radius: 4px;
    background-color: antiquewhite;
}

.auth-container > form > button {
    margin: 16px 8px;
    padding: 8px;
    border-radius: 4px;
    background-color: antiquewhite;
}
.leads{
    margin: 10px;
    padding: 12px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.leadTracker > h1{
    text-align: center;
    margin: 8px;
    font-size: 2em;
    text-align: center;
}

.leadTracker > h3{
    text-align: center;
    margin: 16px;
    text-decoration: underline;
}

.leadTracker > form{
    display: flex;
    flex-direction: column;
    margin: 16px 0;
    border: 1px solid purple;
    background-color: lightcoral;
    padding: 16px;
    border-radius: 5px;
}

.leadTracker > form > input,
.leadTracker > form > button {
    margin: 24px 0;
    padding: 8px;
    border-radius: 5px;
    background-color: antiquewhite;
}

.leads-list{
    text-align: center;
    margin: 24px;
}

.propForm{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;

}

.proposalPage> h1{
    text-align: center;
    font-size: 2em;
    margin: 24px;
}

.proposalPage > form {
    margin: 24px;
    border: 1px solid purple;
    padding: 20px;
    border-radius: 5px;
    background-color: lightcoral;

    display: flex;
    flex-direction: column;
}

.proposalPage > form > input {
    margin: 20px 8px;
    padding: 8px;
    border-radius: 4px;
    background-color: antiquewhite;
}

.proposalPage > form > button {
    margin: 24px 8px;
    padding: 8px;
    border-radius: 4px;
    background-color: antiquewhite;
}

.proposalPage > h1{
    text-align: center;
    margin: 24px;

}

.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}